/* Transforms let you move, warp, rotate, and scale elements */

/* Translate, move something around */
div {
    transform: translateX(100px);
}

h1 {
    background-color: #3498db;
    transform: translateX(100px);
}

h2 {
    background-color: #3498db;
    transform: translateY(20px);
}

p:hover {
    transform: translate(20px, 20px);
}


/* Scaling */





























