/*Element*/
li {

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*"Star" with a * selects everything on the page*/

* {
	border: 1px solid lightgrey;
}

/*"Descendant Selector" takes 2 or more selectors and chains them together
Example, all anchor<a> tags within an li, but not anchor tags not in li's*/

li a {
	color: red;
}

/*"Adjacent Selector" selects elements that come after another element.
Example, all ul's after an h4*/

h4 + ul {
	border: 4px solid blue;
}

/*"Attribute Selector" selects elements based off any attribute.
Ex select all images of same source, or all links from google.com
or all password fields*/

a[href="http://www.google.com"] {
	background: yellow;
}

/*"nth of type" selects 5th div, or every 10th paragraph
or the 3rd li of every group*/

ul:nth-of-type(3){
	background: purple;
}
/*3 could change to even or odd*/






